/* découpe générale de la page */
html {
    width: 100%;
    height: 100%;
}

body{
    min-height: 100%;
    display: grid;
    grid-template-columns: 5% 10% 10% 15% 20% 15% 10% 10% 5%;
    grid-template-rows: auto 0.1fr 0.1fr 0.3fr 0.1fr 0.3fr 0.1fr auto;
}

/* ---------------- style du header ---------------- */
header {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
}
.navbar-toggler{

    border-style: none;
}
/* ---------------- style du footer ---------------- */
footer {
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 8;
    grid-row-end: 9;
}
#logo{
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 8;
    grid-row-end: 9;
}

/* ---------------- login.html ---------------- */
#title_welcome{
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
}

.card {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 7;
    text-align: center;
    background-color: #FFEAE5;
    border-style: none;
}
